.wrapper {
  display: block;
  position: relative;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  background-repeat: no-repeat;
}
label {
  padding-top: 1vh;
}
.opacity {
  opacity: 0.3;
}
footer {
  bottom: 0;
  position: fixed;
}

