<ng-container name="transformations" *ngFor="let transform of transformations">
  <ng-container *ngIf="!transform.inTableCell">
    <ng-container [ngSwitch]="transform.type">
      <app-calendar *ngSwitchCase="'CalendarTransformation'" [transform]="transform"></app-calendar>
      <app-clickable *ngSwitchCase="'ClickableTransformation'" [transform]="transform"></app-clickable>
      <app-table *ngSwitchCase="'TableTransformation'" [transform]="transform"></app-table>
      <app-multiple-options *ngSwitchCase="'MultipleOptionsTransformation'" [transform]="transform"></app-multiple-options>
      <app-text *ngSwitchCase="'TextTransformation'" [transform]="transform"></app-text>
      <app-menu *ngSwitchCase="'MenuTransformation'" [transform]="transform"></app-menu>
      <app-line *ngSwitchCase="'LineTransformation'" [transform]="transform"></app-line>
      <app-checkbox *ngSwitchCase="'CheckboxTransformation'" [transform]="transform"></app-checkbox>
      <ng-container *ngSwitchDefault></ng-container>
    </ng-container>
  </ng-container>
</ng-container>
