<button [ngClass]="transform.style" *ngIf="transform.triggerType === 'Button'" (click)="onClick()" class="dlt-button dlt-button-primary"
        [ngStyle]="{'grid-row-start': transform.position.row, 'grid-column-start': transform.position.column, 'grid-column-end': (transform.position.column+transform.triggerText.length+2), 'line-height': '1rem', 'height': '1.4rem'}">
  {{transform.triggerText}}
</button>
<a [ngClass]="transform.style" *ngIf="transform.triggerType === 'Link'" (click)="onClick()" class="dlt-links"
   [ngStyle]="{'grid-row-start': transform.position.row, 'grid-column-start': transform.position.column, 'grid-column-end': (transform.position.column+transform.triggerText.length+1)}">
  {{transform.triggerText}}
</a>
<img [ngClass]="transform.style" *ngIf="transform.triggerType === 'Image' && transform.triggerImage && transform.triggerImage != ''" [src]="transform.triggerImage" (click)="onClick()"
     [ngStyle]="{'grid-row-start': transform.position.row, 'grid-column-start': transform.position.column}">

<app-text *ngIf="transform.leadingLabel" [transform]="transform.leadingLabel"></app-text>