<ng-container *ngIf="field">

  <div class="flexField" *ngIf="content && content.length > 0" 
      [attr.name]="field.name"
      [id]="field.name"
      [ngStyle]="position"
      [style]="getCss()"
      [dir]="(field.visualContent && storageService.getLanguage().screenDirectionRTL) ? 'rtl' : 'ltr'" 
      [ngClass]="[field.blinking ? 'blink_me' : '', fgClass ? fgClass : '', bgClass ? bgClass : '', this.field.isIntensified ? 'gx_intf' : '']" 
      [hidden]="!field.visible">
    <span *ngFor="let ch of this.content; index as i">
      {{ch != ' ' ? ch : '&nbsp;'}}
    </span>
  </div>

  <div class="flexField" *ngIf="content && content.length === 0" 
      [ngStyle]="position"
      [style]="getCss()" 
      [ngClass]="bgClass"
      [hidden]="!field.visible">
    <span>&nbsp;</span>
  </div>
  
</ng-container>
