<table [id]="transform.table.name" [ngClass]="transform.style" class="gx_tbl" [ngStyle]="{'grid-row-start': transform.table.headerCoordinates ? transform.table.headerCoordinates.topLeft.row : transform.table.cornersCoordinates.topLeft.row,
                                               'grid-column-start': transform.table.headerCoordinates ? transform.table.headerCoordinates.topLeft.column : transform.table.cornersCoordinates.topLeft.column,
                                               'grid-row-end': transform.table.cornersCoordinates.bottomRight.row,
                                               'grid-column-end': transform.table.cornersCoordinates.bottomRight.column}">
  <thead class="tableHeader" [ngStyle]="{'border-style': 'solid', 'border-width': 'thin'}">
  <tr>
    <th *ngFor="let col of transform.table.cols" name="{{col.name}}">
      {{col.caption}}
    </th>
  </tr>
  </thead>

  <tbody class="tableBody" [ngStyle]="{'border-style': 'solid', 'border-width': 'thin'}">
  <tr *ngFor="let row of transform.table.rows; index as i" [ngClass]="(i%2==0) ? 'gx_tbl_alternating1' : 'gx_tbl_alternating2'">
    <td *ngFor="let item of row.items; index as j" style="border-style: solid; border-width: thin">

      <ng-container *ngIf="item.type && item.inTableCell">
        <ng-container [ngSwitch]="item.type">
          <app-clickable *ngSwitchCase="'ClickableTransformation'" [transform]="item"></app-clickable>
          <app-hostkey *ngSwitchCase="'HostKeyTransformation'" [transform]="item"></app-hostkey>
          <app-table *ngSwitchCase="'TableTransformation'" [transform]="item"></app-table>
          <app-multiple-options *ngSwitchCase="'MultipleOptionsTransformation'" [transform]="item"></app-multiple-options>
          <app-text *ngSwitchCase="'TextTransformation'" [transform]="item"></app-text>
          <app-menu *ngSwitchCase="'MenuTransformation'" [transform]="item"></app-menu>
          <ng-container *ngSwitchDefault></ng-container>
        </ng-container>
      </ng-container>

      <ng-container *ngIf="!item.type">
        <app-input-field *ngIf="!item.protected" [field]="item"></app-input-field>
        <app-field *ngIf="item.protected" [field]="item"></app-field>
      </ng-container>

    </td>
  </tr>
  </tbody>
</table>
