/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; -webkit-overflow-scrolling: touch; }
body { 
  margin: 0; 
  background-color: white;
  line-height: 1.4rem !important; 
}

.datepicker-container {
	min-width: 240px;
}

.dlt-button {
	display: inline-block !important;
}

input[type="month"]::-webkit-calendar-picker-indicator:hover,
input[type="date"]::-webkit-calendar-picker-indicator:hover {
	background-color: white;
    cursor: pointer;
}

/* the instant wrapping tag */
#gx_screenArea
{
	font-family: "Lucida Console", Monaco, "Menlo-Regular", monospace,"Courier New","Noto Sans Mono CJK JP","IPA Mincho";
	color: #006992;
}


/* input fields inside the instant wrapping tag */
#gx_screenArea input,
#gx_screenArea textarea,
#gx_screenArea select {
	font-family: "Lucida Console", Monaco, "Menlo-Regular", monospace,"Courier New","Noto Sans Mono CJK JP","IPA Mincho";
}

/* labels inside the instant wrapping tag */
#gx_screenArea span, 
#gx_screenArea pre,
#gx_screenArea blink,
#gx_screenArea img,
#gx_screenArea a{
	white-space: nowrap;
}

.noGridItem {
	min-width: 0;
	min-height: 0;
}

table.gx_tbl tr td span.gx_af,  
table.gx_tbl tr td blink.gx_af  
{
	background-color: transparent;
}

/* --------------- */
/* ApplinX classes */
/* --------------- */


/* protected-field */
gx_pf
{
}

/* unprotected-field */
.gx_uf
{
  BACKGROUND-COLOR: white;
  border: gray solid 1px;
}

input::-ms-clear { 
	  display: none; 
}
 	 	 	
/* intensified-field , bold-field */
.gx_intf
{
	text-shadow:0 0.025em 0 black, 0.025em 0 0 black;
	color:black;
}
input.gx_intf
{
}

/* application field */
.gx_af
{
	/* background-color: #F0F0F0;  silver */
}

/* black */
.gx_blk,a.gx_blk:link,a.gx_blk:visited
{
	color: black;
}

/* white */
.gx_lwt,a.gx_lwt:link,a.gx_lwt:visited
{
	color: black;
}
input.gx_lwt
{
	color: black;
	border-bottom-color: black;
}

/* lightblue */
.gx_lbl,a.gx_lbl:link,a.gx_lbl:visited
{
	color: #006D93;
}
input.gx_lbl
{
	color: #006D93;
	border-bottom-color: #006D93;
}
/* back white */
.gx_bwt


{
	background-color: black;
	color:white;
}

/* back light white */

.gx_blwt
{
	background-color: black;
	color:white;
}

span.gx_und
{
	text-decoration: underline;
}

a.gx_hky:hover
{
	z-index:1;
	color: white;
	background-color: navy;
	text-decoration: underline;
}
/* table */
.gx_tbl
{
	color: #008AB1;
	border-bottom: #D4F0F7 1px solid;
}

/* table cell */
.gx_tbl tr td
{
	white-space: nowrap;
	border-right: #D4F0F7 1px solid;
	border-left: #D4F0F7 1px solid;
}
/* 1st alternating table row */
.gx_tbl_alternating1
{
	background-color: white;
}
/* 2nd alternating table row */
.gx_tbl_alternating2
{
	background-color: #D4F0F7;
}
/* selected table row */
.gx_tbl_selected 
{
	background-color: #F8A870;
}
/* table header */
.gx_tbl tr th
{
	border-left: #D4F0F7 1px solid;
	color: white;
	background-color: #093655;
}
/* table link */
.gx_tbl A:link,.gx_tbl A:visited
{
	text-decoration: underline;
}

/* window border */
.gx_wnd
{
	z-index:-1;
	border: black 1px solid;
	background-color: white;
}
/* window title border */
.gx_wnd_title
{
	z-index:+1;
	background: white;
}

/* menu*/
.gx_menu
{
	color: navy;
}
.gx_menu:hover
{
	color:white;
	background-color:navy;
}

/* title */
.gx_title
{
	color: gray;
	font-weight: bold;
	font-size: large;
}

/* blinking caret */
.gx_caret
{
    background-color:black;
}

/* screen name in the footer */
.OrgHostLink
{
	font-size:15px;
	color:#7A9A01;
}

/* black */
/* .gx_blk,a.gx_blk:link,a.gx_blk:visited
{
	color: #000000;
}
 */
/* blue */
.gx_bl,a.gx_bl:link,a.gx_bl:visited
{
	color: #00497A;
}
input.gx_bl
{
	color: #00497A;
	border-bottom-color: #00497A;
}

/* green */
.gx_grn,a.gx_grn:link,a.gx_grn:visited
{
	color: #7A9A01;
}
input.gx_grn
{
	color: #7A9A01;
	border-bottom-color: #7A9A01;
}

/* lightgreen */
.gx_lgrn,a.gx_lgrn:link,a.gx_lgrn:visited
{
	color: #9DBD72;
}
input.gx_lgrn
{
	color: #9DBD72;
	border-bottom-color: #9DBD72;
}


/* red */
.gx_rd,a.gx_rd:link,a.gx_rd:visited
{
	color: #AF272F;
}
input.gx_rd
{
	color: #AF272F;
	border-bottom-color: #AF272F;
}

/* purple */
.gx_ppl,a.gx_ppl:link,a.gx_ppl:visited
{
	color: #68478D;
}
input.gx_ppl
{
	color: #68478D;
	border-bottom-color: #68478D;
}

/* maroon */
/* -------------- */
.gx_mr,a.gx_mr:link,a.gx_mr:visited
{
	color: #800000;
}
input.gx_mr
{
	color: #800000;
	border-bottom-color: #800000;
}

/* gray */
.gx_gr,a.gx_gr:link,a.gx_gr:visited
{
	color: #808080;
}
input.gx_gr
{
	color: #808080;
	border-bottom-color: #808080;
}
/*pink*/
.gx_pi,a.gx_pi:link,a.gx_pi:visited
{
	color: #FF80FF;
}
input.gx_pi
{
	color: #FF80FF;
	border-bottom-color: #FF80FF;
}



/* lightblue */
/* .gx_lbl,a.gx_lbl:link,a.gx_lbl:visited
{
	color: #006D93;
}
input.gx_lbl
{
	COLOR: #006D93;
	border-bottom-color: #006D93;
}
 */
/* light aqua */
.gx_laq,a.gx_laq:link,a.gx_laq:visited
{
	color: #99CEDE;
}
input.gx_laq
{
	color: #99CEDE;
	border-bottom-color: #99CEDE;
}

/* light red */
.gx_lrd,a.gx_lrd:link,a.gx_lrd:visited
{
	color: #CE5F68;
}
input.gx_lrd
{
	color: #CE5F68;
	border-bottom-color: #CE5F68;
}

/* light purple */
.gx_lppl,a.gx_lppl:link,a.gx_lppl:visited
{
	color: #9D87B5;
}
input.gx_lppl
{
	color: #9D87B5;
	border-bottom-color: #9D87B5;
}

/* yellow */
.gx_ylw,a.gx_ylw:link,a.gx_ylw:visited
{
	color: #ffd700;
}

input.gx_ylw
{
	color: #ffd700;
	border-bottom-color: #ffd700;
}

/* white */
/* .gx_lwt,a.gx_lwt:link,a.gx_lwt:visited
{
	color: black;
}
input.gx_lwt
{
	COLOR: black;
} */

/* aqua */
.gx_aq,a.gx_aq:link,a.gx_aq:visited
{
	color: #59B0CA;
}
input.gx_aq
{
	color: #59B0CA;
	border-bottom-color: #59B0CA;
}

/* back gray */
.gx_bgr
{
	background-color: #808080;
}

/* back light aqua */
.gx_blaq
{
	background-color: #99CEDE;
	color:black;
}

/* back light blue */
.gx_blbl
{
	background-color: #006992;
	color:black;
}

/* back light green */
.gx_blgrn
{
	background-color: #9DBD72;
	color:black;
}

/* backlightpurple" */
.gx_blppl
{
	background-color: #9D87B5;
	color:black;
}

/* back light red */
.gx_blrd
{
	background-color: #CE5F68;
	color:black;
}

/* back maroon */
.gx_bmr
{
	background-color: #800000;
	color:black;
}

/* back purple */
.gx_bppl
{
	background-color: #68478D;
	color:black;
}

/* back red */
.gx_brd
{
	background-color: #AF272F;
	color:black;
}

/* back white */
/* .gx_bwt
{
	background-color: #ffffff;
	color:black;
} */

/* back yellow */
.gx_bylw
{
	background-color: #ffd700;
	color:black;
}

/* back aqua */
.gx_baq
{
	background-color: #00ffff;
	color:black;
}

/* back blue */
.gx_bbl
{
	background-color: #00497A;
	color:black;
}

/* back green */
.gx_bgrn
{
	background-color: #7A9A01;
	color:black;
}

/*user defined default color*/
.gx_usr,a.gx_usr:link,a.gx_usr:visited
{
}

input.gx_usr
{
	
}

/*user defined background default color*/
.gx_busr
{
}
/* back light white */
/* .gx_blwt
{
	background-color: black;
	color:white;
} */